# ignore csvs
*.csv

# ignore zip and gz
*.zip
*.gz

# ignore json
*.json

# ignore python notebooks and checkpoints
*.ipynb

# ignore virtual env, data expl work, and template from Lorraine
/visual_snake
/data_exploration
/grid_tutorial
/TUL
__pycache__/
