# ignore csvs
*.csv

# ignore zip
*.zip

# ignore json
*.json

# ignore instructions
instructions.txt

# ignore python notebooks and checkpoints
*.ipynb

# ignore virtual env and data expl work
/visual_snake
/data_exploration
/grid_tutorial
