wandb==0.13.7
pytorch-lightning==1.8.6
transformers==4.25.1
scikit-learn==1.2.0
pandas==1.5.2
sentencepiece==0.1.97
datasets==2.8.0
tensorboard==2.11.0
torch-tb-profiler==0.4.0
jax==0.4.1
jaxlib==0.4.1
flax==0.6.3
streamlit==1.16.0
